{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Posts By {{ author }}</h1>
        {% if error %}
            {{ error }}
        {% endif %}
        <br>
        <a href="{% url 'posts:create' %}" class="btn btn-primary">New Post</a>
        <br/>
        <br/>
        {% for post in posts.all %}
            <table>
                <tr>
                    <td>
                        <a href="#" onClick="document.getElementById('upvote{{ post.id }}').submit()"><i class="fa fa-caret-up" aria-hidden="true"></i></a>
                        <br/>{{ post.votes_total }}<br/>
                        <a href="#" onClick="document.getElementById('downvote{{ post.id }}').submit()"><i class="fa fa-caret-down" aria-hidden="true"></i></a><br/>
                    </td>
                    <td>
                        <a href="{{ post.url }}" target="_blank">{{ post.title }}</a>
                        <br/>
                        {{ post.pub_date_pretty }} by <a href="{% url 'posts:created_by' post.author.id %}">{{ post.author.first_name }}</a>
                        <br>
                        <hr>
                    </td>
                </tr>
            </table>

            <form  method="POST" id="upvote{{ post.id }}" action="{% url 'posts:upvote' post.id %}">{% csrf_token %}<input type="hidden"></form>
            <form  method="POST" id="downvote{{ post.id }}" action="{% url 'posts:downvote' post.id %}">{% csrf_token %}<input type="hidden"></form>

        {% endfor %}
    </div>

{% endblock %}

